@model FH_Kiel_Ticketing_App.Models.IdeaDetailsViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Details</h2>

<div>
    <h4>Idea</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Idea.title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Idea.title)
        </dd>
        <hr />
        <dt>
            @Html.DisplayNameFor(model => model.Idea.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Idea.description)
        </dd>
        <hr />
        <dt>
            @Html.DisplayNameFor(model => model.Idea.type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Idea.type)
        </dd>
        <hr />
        <dt>
            @Html.DisplayNameFor(model => model.Idea.field)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Idea.field)
        </dd>
    </dl>
    @{
        var userRole = Request.Cookies["UserCookie"]["UserRole"];

        if (userRole == "Student")
        {
            var ticket = ViewBag.Ticket;
            if (ticket == null)
            {
                <div class="alert alert-dismissible alert-info">
                    <strong>Amazing!</strong> Looks like this idea is available for you to use.
                </div>
                <div class="form-group">
                    <div class="col-md-offset-1 col-md-10">
                        <a href="/Proposal/Create/@Model.Idea.recordID" class="btn btn-primary">Create Ticket</a>
                    </div>
                </div>
            }
        }
    }
</div>
<br/>